<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HamburgerMenu</title>
    <link rel="stylesheet" href="./style-hmbrg.css">
    <link rel="stylesheet" href="style-sec.css">
</head>
<body>
<div id="nevigation">
    <div id="navicon" onclick="OnClickMenu()">
        <div id="bar1" class="bar"></div>
        <div id="bar2" class="bar"></div>
        <div id="bar3" class="bar"></div>
    </div>
<ul id="navbar" class="navbar" >
    <li><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Gallary</a></li>
    <li><a href="#">Contact</a></li>
</ul>
</div>


    <script src="script.js"></script>
</body>
</html>