<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>MG_Nandre</title>
</head>

<body>
    <div class="accordian">
        <div class="item">
            <p class="number">01</p>
            <h2>My Name Is Mayur</h2>
            <div class="iconOpen">
                <ion-icon class="icon" name="add-outline"></ion-icon>
            </div>
            <div class="iconClose">
                <ion-icon class="icon" name="close-outline"></ion-icon>
            </div>

            <div class="hidden-box">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis laborum nihil inventore beatae velit
                    libero nobis aperiam vel sapiente reprehenderit harum quaerat soluta molestias porro est ut maxime.</p>
                <ul>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis amet esse quidem tenetur</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis amet esse quidem tenetur</li>
                </ul>
            </div>
        </div>

        <div class="item">
            <p class="number">02</p>
            <h2>My Name Is Krushna</h2>
            <div class="iconOpen">
                <ion-icon class="icon" name="add-outline"></ion-icon>
            </div>
            <div class="iconClose">
                <ion-icon class="icon" name="close-outline"></ion-icon>
            </div>

            <div class="hidden-box">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis laborum nihil inventore beatae velit
                    libero nobis aperiam vel sapiente reprehenderit harum quaerat soluta molestias porro est ut maxime.</p>
                <ul>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis amet esse quidem tenetur</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis amet esse quidem tenetur</li>
                </ul>
            </div>
        </div>
        <div class="item">
            <p class="number">03</p>
            <h2>My Name Is Narendra</h2>
            <div class="iconOpen">
                <ion-icon class="icon" name="add-outline"></ion-icon>
            </div>
            <div class="iconClose">
                <ion-icon class="icon" name="close-outline"></ion-icon>
            </div>

            <div class="hidden-box">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis laborum nihil inventore beatae velit
                    libero nobis aperiam vel sapiente reprehenderit harum quaerat soluta molestias porro est ut maxime.</p>
                <ul>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis amet esse quidem tenetur</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis amet esse quidem tenetur</li>
                </ul>
            </div>
        </div>
        <div class="item">
            <p class="number">04</p>
            <h2>My Name Is Amit</h2>
            <div class="iconOpen">
                <ion-icon class="icon" name="add-outline"></ion-icon>
            </div>
            <div class="iconClose">
                <ion-icon class="icon" name="close-outline"></ion-icon>
            </div>

            <div class="hidden-box">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis laborum nihil inventore beatae velit
                    libero nobis aperiam vel sapiente reprehenderit harum quaerat soluta molestias porro est ut maxime.</p>
                <ul>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis amet esse quidem tenetur</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis amet esse quidem tenetur</li>
                </ul>
            </div>
        </div>
        <div class="item">
            <p class="number">05</p>
            <h2>My Name Is Aadityanath</h2>
            <div class="iconOpen">
                <ion-icon class="icon" name="add-outline"></ion-icon>
            </div>
            <div class="iconClose">
                <ion-icon class="icon" name="close-outline"></ion-icon>
            </div>

            <div class="hidden-box">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis laborum nihil inventore beatae velit
                    libero nobis aperiam vel sapiente reprehenderit harum quaerat soluta molestias porro est ut maxime.</p>
                <ul>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis amet esse quidem tenetur</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis amet esse quidem tenetur</li>
                </ul>
            </div>
        </div>
        <div class="item">
            <p class="number">06</p>
            <h2>My Name Is Sambit</h2>
            <div class="iconOpen">
                <ion-icon class="icon" name="add-outline"></ion-icon>
            </div>
            <div class="iconClose">
                <ion-icon class="icon" name="close-outline"></ion-icon>
            </div>

            <div class="hidden-box">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis laborum nihil inventore beatae velit
                    libero nobis aperiam vel sapiente reprehenderit harum quaerat soluta molestias porro est ut maxime.</p>
                <ul>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis amet esse quidem tenetur</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis amet esse quidem tenetur</li>
                </ul>
            </div>
        </div>
        <div class="item">
            <p class="number">07</p>
            <h2>My Name Is Sudhanshu</h2>
            <div class="iconOpen">
                <ion-icon class="icon" name="add-outline"></ion-icon>
            </div>
            <div class="iconClose">
                <ion-icon class="icon" name="close-outline"></ion-icon>
            </div>
            <div class="hidden-box">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis laborum nihil inventore beatae velit
                    libero nobis aperiam vel sapiente reprehenderit harum quaerat soluta molestias porro est ut maxime.</p>
                <ul>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis amet esse quidem tenetur</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis amet esse quidem tenetur</li>
                </ul>
            </div>
        </div>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="index.js"></script>
</body>

</html>