/* -----------------|default properties for all the pages|---------------- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root {
    --var-primary-color: #2888E8FF;
}

html {
    font-size: 62.5%;
}
h1 {
    font-size: 4.8rem;
}
h2 {
    font-size: 3rem;
}
p {
    font-size: 1.6rem;
    letter-spacing: 0.08rem;
}

button,
input[type="submit"] {
    border: .1rem solid #fff;
    outline: none;
    padding: .6rem 1.2rem;
    font-size: 1.7rem;
    text-transform: capitalize;
    letter-spacing: 0.05rem;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
}

/* -----------------Registration page Styling---------------- */

.registation-header {
    height: 100vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/img/Bg-Img.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
}

.container {
    height: 10vh;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    text-align: center;
    cursor: pointer;
}
.logo small{
    color: white;
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-size: 1rem;
    text-shadow: 3px 3px 5px black;
}

.logo a {
    font-size: 2.6rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    text-shadow: 2px 2px 5px black;
}

ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    font-size: 1.7rem;
    font-weight: 600;
    text-transform: uppercase;
}

li>a {
    color: #fff;
    text-decoration: none;
    padding: .3rem .3rem;
    transition: 0.2s;
}

nav ul li a:hover {
    color: #ff861c;
}

/* Home page style */

/* ----------Registation-page styling----------- */
main {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registration,
.login {
    min-height: 38rem;
    min-width: 40vw;
}

.grid-two-column {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.form-text {
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/Side-Img.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    color: #fff;
    padding: 5rem 5rem;
}

.form-text p {
    width: 30ch;
    text-align: center;
    margin: 2rem 0 3rem 0;

}

.form-text button {
    background-color: #fff;
    color: #000;
}

.form-text button:hover {
    color: #fff;
    background: transparent;
}

.login .form-text {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/side-img2.jpg") center center/cover no-repeat;
}

.registration-form,
.login-form {
    width: 100%;
    min-height: 55vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.registration-form p,
.login-form p {
    margin: 1rem 0 .7rem 0;
}

.social-icons{
display: flex;
gap: 1.4rem;
margin: 1rem 0 .6rem 0;
}

.fa-brands {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 0.1rem solid #ccc;
    /* ------------to Center a logos to circle---------------- */
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    color: black;
}

input {
    width: 20rem;
    margin: .7rem 0;
    border: none;
    background-color: #e8e8e8;
    padding: 1rem 1.8rem;
    letter-spacing: .06rem;
}

input[type="submit"] {
    margin-top: 1rem;
    min-width: 10rem;
    background-color: var(--var-primary-color);
    color: #fff;
}


/* ---------------for login register button functionality---------------- */
.login:not(.login-section-display) {
    display: none;
}

.login-section-display .login {
    display: block;
}

.login-section-display .registration {
    display: none;
}


@media (max-width:768px) {
    .grid-two-column {
        grid-template-columns: 1fr;
    }


    .registation-header .container {
        flex-direction: column;
        gap: 1rem;
    }

    .registation-header .container .logo {
        padding-top: 2rem;
    }


    .form-text {
        order: 1;
    }

    .form-text {
        width: 35rem;
    }

    .registration,
    .login {
        order: 0;
    }

    .form-text p {
        width: 25ch;
    }


}